.button {
    width: 700px;
    height: 300px;
    font-size: 35px;
    font-weight: 700;
    border-radius: 20px;
    border: none
}

.button:hover {
transform: scale();
box-shadow: 0px 0px 10px 0px;
}
.primary-color {
    background-color: #2BD9AF;
  }
  .secondary-color {
    background-color: #FF5E84;
  }