.App {
  /* text-align: center; */
}

.navbar {
  text-align: center;
}

.maindiv {
  margin-left: 80px;

}
.category-button-container {
  /* flex-direction: row; */
  justify-content: space-between;
  display: flex;
}