.App {
  /* text-align: center; */
}

.navbar {
  text-align: center;
}

.maindiv {
  /* margin-left: 80px; */
  margin-inline: 80px;
 
  

}
.category-button-container {
  display: flex;
  justify-content: space-between;
 
}
.card-row {
  display: flex;
  justify-content: space-between;
}
.mens-clothing-card-row {
  display: grid;
  grid-template-columns: auto auto auto auto ;
  margin-bottom: 100px;
  row-gap: 50px;
  justify-content: space-between;
  
  
}
.womens-clothing-card-row {
  display: grid;
  grid-template-columns: auto auto auto auto ;
  margin-bottom: 100px;
  row-gap: 50px;
  justify-content: space-between;
  
  
}