.App {
  /* text-align: center; */
}

.navbar {
  text-align: center;
}

.maindiv {
  /* margin-left: 80px; */
  margin-inline: 80px;
  

}
.category-button-container {
  display: flex;
  justify-content: space-between;
 
}
.card-row {
  display: flex;
  justify-content: space-between;
}
